
*.xcuserstate

MaMoyenne.xcodeproj/project.xcworkspace/xcuserdata/Eric.xcuserdatad/UserInterfaceState.xcuserstate

MaMoyenne.xcodeproj/project.xcworkspace/xcuserdata/loic.xcuserdatad/UserInterfaceState.xcuserstate

MaMoyenne.xcodeproj/xcuserdata/loic.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
